﻿
@{
    ViewBag.Title = "IndexCliente";
}

@model CRCWebMaster.ViewModels.TrackViewModel



<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Home</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Option</button>
            <button class="btn btn-sm btn-outline-secondary">Option</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Option
        </button>
    </div>
</div>

@{ Html.RenderPartial("_FlashMessage"); }

<div class="row">
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Información general del reclamo:</h4>
        @if (Model.TAG != "")
        {
            <ul class="list-group">
                <li class="list-group-item"># Reclamo: @Model.TAG </li>
                <li class="list-group-item">Descripción: @Model.Descripcion</li>
                <li class="list-group-item">Estado: @Model.Estado</li>
                <li class="list-group-item">Tipo de Reclamo: @Model.TipoReclamo</li>
                <li class="list-group-item">Motivo de envío: @Model.MotivoEnvio</li>
                <li class="list-group-item">Modo de falla: @Model.ModoFalla</li>
                <li class="list-group-item">Numero de usos: @Model.NumeroUsos</li>
                <li class="list-group-item">Aplicación: @Model.Aplicacion</li>
            </ul>
        }


    </div>
</div>
<hr class="mb-4">

<div class="row">
    <div class="col-md-8 order-md-1">
        <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Ver tracking</button>
    </div>
</div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tracking Reclamo #@Model.TAG</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group mb-3">
                        @if (Model != null)
                        {
                            foreach (var item in Model.trackings)
                            {
                                <li class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">@item.Mensaje</h6>
                                        @*<small class="text-muted">Brief description</small>*@
                                    </div>
                                    <span class="text-muted">@item.FechaInicio</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
