﻿
@{
    ViewBag.Title = "LstProducto";

}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mis productos</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="@Url.Action("AddEditProducto","Producto")"  class="btn btn-sm btn-outline-secondary">Nuevo producto</a>
            <button class="btn btn-sm btn-outline-secondary">Option</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Option
        </button>
    </div>
</div>
@{ Html.RenderPartial("_FlashMessage"); }

<div class="col-md-8 order-md-1">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Número de serie</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.listProductos != null)
                {
                    foreach (var producto in ViewBag.listProductos)
                    {
                        <tr>
                            <td>@producto.Nombre</td>
                            <td>@producto.Modelo.Nombre</td>
                            <td>@producto.NumeroSerie</td>
                            <td>
                                <a href="@Url.Action("LstReclamo","Reclamo",new { ProductoId = producto.ID})" class="btn btn-primary btn-sm">Ver reclamos</a>
                                <a href="@Url.Action("AddEditProducto",new { ProductoId = producto.ID})" class="btn btn-warning btn-sm">Editar</a>
                                <a href="@Url.Action("EliminarProducto",new { ProductoId = producto.ID})" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>