﻿
@{
    ViewBag.Title = "AddReclamoInstrumento";
}

@model CRCWebMaster.ViewModels.RInstrumentoViewModel


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Nuevo reclamo de instrumento</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Option</button>
            <button class="btn btn-sm btn-outline-secondary">Option</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Option
        </button>
    </div>
</div>

@{ Html.RenderPartial("_FlashMessage"); }

<div class="col-md-8 order-md-1">

    <h4 class="mb-3">Por favor, completar los siguientes campos:</h4>
    <form class="needs-validation" method="post">




        @if (Session["UsuarioId"] != null)
        {
            <label style="font-weight: bold">Selecciona el producto:</label>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Producto</label>
                    @Html.DropDownListFor(x => x.ProductoID, new SelectList(Model.productos, "ID", "Nombre"),
        "Elegir", new { @class = "custom-select d-block w-100" })
                    @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "invalid-feedback" })
                </div>
            </div>
        }
        else
        {
            <label style="font-weight: bold">Datos de cliente:</label>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Razón Social</label>
                    @Html.TextBoxFor(x => x.clienteViewModel.RazonSocial, new { @class = "form-control",
          @placeholder = "Razon social" })
                    @Html.ValidationMessageFor(model => model.clienteViewModel.RazonSocial, "", new { @class = "invalid-feedback" })
                </div>

                <div class="col-md-6 mb-3">
                    <label for="firstName">Persona de contacto</label>
                    @Html.TextBoxFor(x => x.clienteViewModel.Contacto, new { @class = "form-control",
          @placeholder = "Persona de contacto" })
                    @Html.ValidationMessageFor(model => model.clienteViewModel.Contacto, "", new { @class = "invalid-feedback" })
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Telefono</label>
                    @Html.TextBoxFor(x => x.clienteViewModel.Telefono, new { @class = "form-control",
          @placeholder = "Telefono" })
                    @Html.ValidationMessageFor(model => model.clienteViewModel.Telefono, "", new { @class = "invalid-feedback" })
                </div>
                <div class="col-md-6 mb-3">
                    <label for="firstName">Correo</label>
                    @Html.TextBoxFor(x => x.clienteViewModel.Correo, new { @class = "form-control",
          @placeholder = "Correo" })
                    @Html.ValidationMessageFor(model => model.clienteViewModel.Correo, "", new { @class = "invalid-feedback" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="firstName">Dirección</label>
                    @Html.TextBoxFor(x => x.clienteViewModel.Direccion, new { @class = "form-control",
          @placeholder = "Direccion" })
                    @Html.ValidationMessageFor(model => model.clienteViewModel.Direccion, "", new { @class = "invalid-feedback" })
                </div>
            </div>


            <label style="font-weight: bold">Ingresar el producto:</label>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Modelo</label>
                    @Html.DropDownListFor(x => x.productoViewModel.ModeloID, new SelectList(Model.productoViewModel.modelos, "ID", "Nombre"),
        "Elegir", new { @class = "custom-select d-block w-100" })
                    @Html.ValidationMessageFor(model => model.productoViewModel.ModeloID, "", new { @class = "invalid-feedback" })
                </div>

                <div class="col-md-6 mb-3">
                    <label for="firstName">Nombre</label>
                    @Html.TextBoxFor(x => x.productoViewModel.Nombre, new { @class = "form-control",
          @placeholder = "Nombre" })
                    @Html.ValidationMessageFor(model => model.productoViewModel.Nombre, "", new { @class = "invalid-feedback" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Numero de serie</label>
                    @Html.TextBoxFor(x => x.productoViewModel.NumSerie, new { @class = "form-control",
          @placeholder = "Numero de serie" })
                    @Html.ValidationMessageFor(model => model.productoViewModel.NumSerie, "", new { @class = "invalid-feedback" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Adjuntar factura</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary" type="submit">Examinar</button>
                </div>
            </div>
        }




        <label style="font-weight: bold">Datos del reclamo:</label>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Motivo de envío</label>
                @Html.DropDownListFor(x => x.MotivoEnvio, new SelectList(Model.motivos),
        "Elegir", new { @class = "custom-select d-block w-100" })
                @Html.ValidationMessageFor(model => model.MotivoEnvio, "", new { @class = "invalid-feedback" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="firstName">Descripción</label>
                @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control",
           @placeholder = "Descripción" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "invalid-feedback" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Adjuntar fotos o videos de la falla:</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <button class="btn btn-primary" type="submit">Examinar</button>
            </div>
        </div>

        <hr class="mb-4">

        <label style="font-weight: bold">Tener en cuenta:</label>
        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>


        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>

        <div class="row">
            <p/>
        </div>
    </form>

</div>

