﻿
@{
    ViewBag.Title = "LstReclamo";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mis reclamos</h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Option</button>
            <button class="btn btn-sm btn-outline-secondary">Option</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Option
        </button>
    </div>
</div>
@{ Html.RenderPartial("_FlashMessage"); }

<div class="col-md-8 order-md-1">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>TAG</th>
                    <th>Estado</th>
                    <th>Empleado asignado</th>
                    <th>Fecha de registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.listReclamos != null)
                {
                    foreach (var reclamo in ViewBag.listReclamos)
                    {
                <tr>
                    <td>@reclamo.TAG</td>
                    <td>@reclamo.Estado</td>
                    @if (reclamo.EmpleadoID != null)
                    {
                        <td>@reclamo.Empleado.Nombres + " " +reclamo.Empleado.Apellidos</td>

                    }
                    else
                    {
                        <td>--</td>
                    }
                    <td>@reclamo.FechaRegistro</td>
                    <td>
                        <a href="@Url.Action("TrackingIndex","Home",new { codigo = reclamo.TAG})" class="btn btn-primary btn-sm">Ver detalle</a>
                    </td>
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

