﻿
@{
    Layout = null;
}

@model CRCWebMaster.ViewModels.LoginViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/favicon.ico">

    <title>Iniciar sesión</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" method="post">
        <img class="mb-4" src="~/Content/skf logo word blue large.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Por favor, inicia sesión</h1>
        <label for="inputEmail" class="sr-only">Usuario</label>
        @Html.TextBoxFor(x => x.Usuario, new { @class = "form-control",
           @placeholder = "Usuario" })
        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
        <label for="inputPassword" class="sr-only">Contraseña</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control",
           @placeholder = "Contraseña" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">@TempData["message"]</div>
        }
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdame
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
        <p class="mt-5 mb-3 text-muted">© 2018 SKF</p>
    </form>


</body>
</html>